//- 模板继承
extends ../common/common
block title
  | 首页
block main
  html(lang='en')
    head
      meta(charset='UTF-8')
      script(src='/echarts/dist/echarts.simple.min.js')
    body
      h2 统计数据
      #main(style='width: 500px;height:400px; margin:0 auto')
      input#xAxis(type='hidden' value='#{xAxis}')
      input#series(type='hidden' value='#{series}')
      script(type='text/javascript').
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'))
        //- 获取数据
        var datas = document.getElementById('xAxis').value
        var data2 = document.getElementById('series').value
        var xAxis = datas.split(',')
        var series = data2.split(',')

        // 指定图表的配置项和数据
        var option = {
          title: {
            text: '统计数据'
          },
          tooltip: {},
          legend: {
            data: ['销量']
          },
          xAxis: {
            // data:["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
            data: xAxis
          },
          yAxis: {},
          series: [{
            name: '销量',
            type: 'bar',
            data: series,
            showBackground: true 
          }]
        }
        // 使用刚指定的配置项和数据显示图表
        myChart.setOption(option)
